body {
  max-width: 1024px;
  margin: 0 auto;
  --bg: #fff;
  --bg-secondary-color: #efefef;
  --text-color: #000;
  --text-secondary-color: #808080;
  --text-primary-color: #9999f7;
  --text-highlight-bg: #ff0;
  --text-highlight-color: #000;
  --divider-subtle: #efefef;
  --medium-space: 0.4em;
  --code-bg-color: #000;
  --code-text-color: #fff;
  --code-highlight-bg: #111;
  --code-highlight-text: #fff;
  --box-bg-opacity: 0.05;
  color: var(--text-color);
  background-color: var(--bg);
}
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
  text-transform: uppercase;
}
blockquote {
  padding: 0 1em;
  border-left: 3px solid var(--text-secondary-color);
  margin: 0;
  color: var(--text-secondary-color);
}
a[wikilink="true"] {
  text-decoration: none;
}
a[wikilink="true"]:before,
a[wikilink="true"]:after {
  color: var(--text-secondary-color);
}
a[wikilink="true"]:before {
  content: '[';
}
a[wikilink="true"]:after {
  content: ']';
}
a > .linkIcon {
  display: inline;
  padding-right: 0.3em;
  padding-left: 0.3em;
}
a {
  text-decoration: none;
  color: var(--text-primary-color);
}
a.local:not(.exists) {
  color: #f00;
}
li > p:first-child {
  margin: 0;
}
.task-list-item {
  list-style: none;
  margin-left: -1.5em;
}
.lit-message {
  background-color: rgba(255,0,0,0.702);
  border-bottom: 1px solid #c32d2d;
  font-family: monospace;
  color: #fff;
  padding: 0.4em;
  overflow: scroll;
}
.lit-message .message {
  overflow: hidden;
  flex: 1;
  white-space: pre-wrap;
  cursor: pointer;
  display: block;
}
.lit-message:not(.showall) {
  display: flex;
}
.lit-message:not(.showall) .message {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lit-message .name {
  cursor: pointer;
  margin-left: 0.4em;
  text-decoration: underline;
}
.lit-message .close {
  padding: 0 var(--medium-space);
  cursor: pointer;
}
#lit-header {
  top: 0;
  position: sticky;
  background-color: var(--bg);
  z-index: 99999;
}
#lit-header *[disabled] {
  opacity: 0.5;
  font-style: italic;
  cursor: default;
}
#lit-header menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  white-space: nowrap;
}
#lit-header menu.right {
  margin-left: auto;
}
#lit-header menu.right > .MenuItems {
  right: 0;
  left: auto;
}
#lit-header menu .MenuTitle {
  list-style: none;
  cursor: pointer;
  display: flex;
  padding-right: 0.6em;
}
#lit-header menu .MenuItems {
  list-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#lit-header menu .MenuItems .meta {
  font-size: 0.6em;
  font-style: normal;
}
#lit-header menu:not(.horizontal) > .MenuItems > * {
  padding-top: 0.4em;
}
#lit-header menu:not(.horizontal) > .MenuItems > *:first-child {
  padding-top: 0;
}
#lit-header menu:not(.horizontal) > .MenuItems > menu {
  display: flex;
  flex-direction: column;
}
#lit-header menu:not(.horizontal) > .MenuItems > menu > .MenuTitle:after {
  padding: 0 0.4em;
  content: '\203A';
}
#lit-header menu:not(.horizontal) > .MenuItems > menu.open > .MenuTitle:after {
  transform: rotate(90deg);
}
#lit-header menu:not(.horizontal) > .MenuItems > menu > .MenuItems {
  position: static;
  padding-top: 0.4em;
}
#lit-header menu:not(.horizontal) > .MenuItems > menu > .MenuItems > * {
  padding-left: 0.4em;
  border-left: 3px solid var(--text-primary-color);
}
#lit-header menu.open:not(.horizontal) > .MenuItems {
  position: absolute;
  top: 1.6em;
  background-color: var(--bg);
  padding: 0.6em;
  margin: 0 -0.6em;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  min-width: 100%;
  padding-top: 0;
}
#lit-header menu.horizontal {
  display: flex;
  flex-direction: row;
  padding: 0.6em;
  border-bottom: 1px solid var(--divider-subtle);
}
#lit-header menu.horizontal > li {
  flex-direction: row;
}
.led {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-radius: 0.6em;
  margin-top: 0.4em;
  background-color: var(--bg-secondary-color);
  box-shadow: 0 0 0 0.1em var(--bg);
  margin-left: 0.2em;
}
.led-green {
  background-color: #3c3;
}
.led-orange {
  background-color: #ffa500;
}
.led-blue {
  background-color: #9999f7;
}
.led-red {
  background-color: #f00;
}
#xxxxx content [id]:before {
  content: '';
  display: inline-block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
  pointer-events: none;
}
:target {
  background-color: transparent;
  animation: highlight 1000ms ease-out;
}
.cell-content {
  overflow: hidden;
}
section,
cell,
codecell {
  display: block;
}
section {
  border-width: 0 1px;
  border-style: dashed;
  border-color: transparent;
  border-right-width: 0;
  margin-left: 2px;
}
section section {
  margin: 0 0 -3px;
}
section cell {
  margin-left: -3px;
}
section:before,
section:after {
  display: block;
  width: 4px;
  border-bottom: 1px solid transparent;
  content: ".";
  color: transparent;
  height: 0;
}
section.selected {
  border-color: var(--text-primary-color);
  border-right-color: transparent;
}
section.selected:before,
section.selected:after {
  display: block;
  width: 4px;
  border-bottom: 1px solid var(--text-primary-color);
  content: ".";
  color: transparent;
  height: 0;
}
cell {
  padding: 0.6em;
  margin: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 3px;
}
cell .cell-content > *:first-child {
  margin-top: 0;
}
cell .cell-content > *:last-child {
  margin-bottom: 0;
}
cell.selected {
  border-color: var(--text-primary-color);
}
cell.editing {
  padding: 0;
}
cell.executing {
  border-color: #3c3;
}
cell:not(.code) code {
  border: 1px solid rgba(0,0,0,0.071);
  padding: 0 0.2em;
  background-color: rgba(0,0,0,0.02);
  border-radius: 2px;
}
cell:not(.code) pre {
  margin: 0.4em 0;
}
cell:not(.code) pre > code {
  border: 0 none;
  padding: 0.4em;
  background-color: #000;
  border-radius: 0;
}
cell.code + cell.output {
  padding-top: 0;
}
pre {
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}
pre code {
  margin: 0;
  padding: var(--medium-space);
  min-height: 1em;
}
a.codecell-anchor {
  outline: 0;
  text-decoration: none;
  color: inherit;
}
codecell pre code {
  display: block;
  padding: var(--medium-space);
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
}
codecell.collapsed > *:not(.meta),
codecell.dir-collapse:not(.uncollapsed) > *:not(.meta) {
  display: none !important;
}
codecell.collapsed > .meta .lang:before,
codecell.dir-collapse:not(.uncollapsed) > .meta .lang:before {
  display: inline-block;
  content: "▸";
  padding-right: var(--medium-space);
}
codecell.collapsed .dir-collapse,
codecell.dir-collapse:not(.uncollapsed) .dir-collapse {
  display: none;
}
codecell.fullscreen {
  position: fixed;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--bg, #fff);
  overflow: scroll;
  box-sizing: border-box;
  height: auto;
  width: auto;
  padding: 0.6em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
codecell.fullscreen > iframe {
  height: 100%;
}
codecell.fullscreen .meta .directives .directive.dir-inline {
  color: #fff;
  background-color: #008000;
}
codecell.remote > .meta > .source {
  color: #008000;
  font-weight: bold;
}
codecell.local > .meta > .source {
  color: #ccc;
  font-style: italic;
}
codecell.dir-hidemeta:not(.dir-showmeta) > .meta,
codecell.output.lang-md:not(.dir-showmeta) > .meta,
codecell.output.lang-lit:not(.dir-showmeta) > .meta {
  display: none;
}
codecell.dir-below > pre {
  margin-bottom: var(--medium-space);
}
codecell.dir-above > .meta {
  margin-top: var(--medium-space);
}
codecell > .meta {
  font-family: monospace;
  display: block;
  margin: 0.2em 0;
}
codecell > .meta .lang {
  font-weight: bold;
  margin-right: var(--medium-space);
}
codecell > .meta .repl {
  font-style: italic;
  color: #999;
  margin-right: var(--medium-space);
}
codecell > .meta .source,
codecell > .meta .output {
  margin-right: var(--medium-space);
}
codecell > .meta .filename {
  color: #999;
  margin-right: var(--medium-space);
}
codecell > .meta .tag,
codecell > .meta .directive,
codecell > .meta .attribute {
  display: inline-block;
  padding: 0 var(--medium-space);
  margin-right: var(--medium-space);
  border-radius: 2px;
  background-color: #e5e5e5;
}
codecell > .meta .tag:before {
  content: '#';
}
codecell > .meta .directive:before {
  content: '!';
}
codecell pre {
  margin: 0;
  padding: 0;
  min-height: 1em;
  white-space: pre-wrap;
}
codecell pre ~ *:not(.meta) {
  margin-top: var(--medium-space);
}
codecell .updatedAt {
  cursor: pointer;
  font-family: monospace;
  font-size: 0.8em;
  color: #999;
  text-align: right;
}
codecell .updatedAt .Time {
  font-weight: bold;
}
#lit-app .editor {
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
}
#lit-app .editor .cm-content {
  caret-color: var(--code-highlight-color);
}
#lit-app .editor .cm-cursor {
  border-left-color: var(--code-highlight-color);
}
#lit-app .editor .cm-gutters {
  background-color: var(--code-bg-color);
  color: var(--text-secondary-color);
  border-right-color: var(--text-secondary-color);
}
#lit-app .editor .cm-activeLine.cm-line {
  background-color: var(--code-highlight-bg);
  color: var(--code-highlight-color);
}
#lit-app .editor .cm-focused {
  outline: 0 none;
}
codecell.dir-error pre {
  border: 2px solid #f00;
}
cell,
codecell {
  position: relative;
}
cell > menu,
codecell > menu {
  margin: 0;
  padding: 0;
  z-index: 99999;
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0.5em;
  display: flex;
  place-items: flex-end;
  pointer-events: none;
}
cell > menu .menu__items,
codecell > menu .menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: sticky;
  bottom: 50%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  gap: 0.5em;
  padding-right: 0.5em;
}
cell > menu .menu__items li,
codecell > menu .menu__items li {
  background-color: var(--text-primary-color);
  width: 2em;
  height: 2em;
  border-radius: 1em;
  overflow: hidden;
  margin: 0 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
  color: var(--bg);
  line-height: 1;
}
codecell > iframe {
  display: block;
  width: 100%;
}
codecell img {
  display: block;
  max-width: 100%;
}
cell:not(.selected) codecell iframe {
  pointer-events: none;
}
codecell > table {
  border-collapse: collapse;
  border: 1px solid var(--divider-subtle);
}
codecell > table td {
  padding: 0.4em;
}
.md-block.dir-note,
.md-block.dir-info,
.md-block.dir-warn,
.md-block.dir-box,
.md-block.dir-success,
.md-block.dir-error {
  position: relative;
  color: var(--text-color);
  padding: var(--medium-space);
  border: 1px solid var(--divider-subtle);
  border-radius: 2px;
}
.md-block.dir-note:before,
.md-block.dir-info:before,
.md-block.dir-warn:before,
.md-block.dir-box:before,
.md-block.dir-success:before,
.md-block.dir-error:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--bg);
  opacity: var(--box-bg-opacity, 0.15);
  top: 0;
  z-index: -1;
}
.md-block > *:first-child {
  margin-top: 0;
}
.md-block > *:last-child {
  margin-bottom: 0;
}
.md-block.dir-note:before {
  background-color: #ff0;
}
.md-block.dir-error {
  color: #f00;
  border-color: #f00;
}
.md-block.dir-error:before {
  background-color: #f00;
}
.md-block.dir-warn {
  border-color: #ffa500;
}
.md-block.dir-warn:before {
  background-color: #ffa500;
}
.md-block.dir-info {
  border-color: #00f;
}
.md-block.dir-info:before {
  background-color: #00f;
}
.md-block.dir-success {
  border-color: #008000;
}
.md-block.dir-success:before {
  background-color: #008000;
}
#backlinks,
.footnotes {
  padding: 0 1em;
}
@-moz-keyframes highlight {
  0% {
    background-color: var(--text-highlight-bg);
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes highlight {
  0% {
    background-color: var(--text-highlight-bg);
  }
  100% {
    background-color: transparent;
  }
}
@-o-keyframes highlight {
  0% {
    background-color: var(--text-highlight-bg);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes highlight {
  0% {
    background-color: var(--text-highlight-bg);
  }
  100% {
    background-color: transparent;
  }
}
